HOME PAGE <br>

<form class="createRoom" action="#">
  	<input type="text" placeholder="Choisis le nom de ta room !"></input>
  	<input type="submit" value="Let's go !"></input>
</form>

<div class="romms"><ul></ul></div>
