Room page: {{room.roomName}}<br>

<form class="loginForm" action="#">
  	<input type="text" placeholder="Choisis ton pseudo"></input>
  	<input type="submit" value="Let's go !"></input>
</form>

<div class="participants"><ul></ul></div>
